<!DOCTYPE html>
<html lang="en">
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Verification team</h3>
                            </div>
                            <div class="card-body text-center">
                                <h4>To continue registration on Store.com please follow the <a href="{{ link }}">link</a>.</h4>
                                <h4>If you have not registered on this site, just ignore this message.</h4>
                                <h4>Best wishes from the verification team.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
